<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stylify</title>
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500"
    rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/image-picker.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Stylify</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#showcase">Home</a></li>
          <li><a href="#info1">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="showcase">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="showcase-left">
            <img id="front-photo" src="https://www.freeiconspng.com/uploads/artificial-intelligence-png-2.png">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="showcase-right">
            <h1 >AI-powered <br> Outfit Recommendations</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="testimonial">
    <div class="container">
      <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud"</p>
      <p class="customer">- John Doe</p>
    </div>
  </section>



  <!-- <a href="#myGallery" data-slide-to="0">Press here for Gallery</a> -->
  </section>
  <!-- Modal Main -->
  <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- <button type="button" class="close" style="position: relative; top: -10px; right: -10px;" data-dismiss="modal"
          title="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button> -->

        <!-- Modal Body -->
        <div class="modal-body" style="padding:0%">

          <!--Carousel Main-->
          <div id="myGallery" class="carousel slide" data-interval="false">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myGallery" data-slide-to="0" class="active"></li>
              <li data-target="#myGallery" data-slide-to="1"></li>
              <li data-target="#myGallery" data-slide-to="2"></li>
              <li data-target="#myGallery" data-slide-to="3"></li>
            </ol>

            <!-- Carousel Inner -->
            <div class="carousel-inner">

              <!-- Carousel Items -->
              <div class="item active">
                <img class="center-block" id="result0" alt="Search Result Placeholder 1">
              </div>

              <div class="item">
                <img class="center-block" id="result1" alt="Search Result Placeholder 2">
              </div>

              <div class="item">
                <img class="center-block" id="result2" alt="Search Result Placeholder 3">
              </div>

              <div class="item">
                <img class="center-block" id="result3" alt="Search Result Placeholder 4">
              </div>

              <!--end carousel-inner-->
            </div>

            <!--Next and Previous buttons-->
            <a class="left carousel-control" href="#myGallery" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myGallery" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

            <!--end carousel-->
          </div>
          <!--end modal body-->
        </div>
        <!--end modal content-->
      </div>
      <!--end modal dialoge-->
    </div>
    <!--end myModal-->
  </div>

  <section id="info1">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-6 col-sm-6">
          <div class="info-left">
            <img class="center-block" style="margin-top:10%;" src="../static/image_data/test3.jpg">
          </div>
        </div> -->
        <div class="col-md-4 text-center">
          <input class="no-display" id='file-input' type='file' name='file' accept='image/*' onchange='showPicked(this)' style="display:none;">
          <div class="info-left">
            <img src="../static/example.jpg" class="img-thumbnail" id='image-picked' alt='Chosen Image'>
            <br>
            <button class="btn btn-default btn-lg" id="pick-photo-button" onclick='showPicker()'>Choose Your Photo</button>
            <br>
            <button class="btn btn-default btn-lg no-display" id="analyze-button" onclick='detect()'>Analyze</button>
          </div>

        </div>
        <div class="col-md-8 float-left" id="results-display">
          <h2>
            Detected Items:<br>
            <button class="btn btn-default btn-lg no-display" id="select-item-button" onclick='analyze()'>Select
              This</button>
            <button class="btn btn-success btn-lg no-display" id="results-button" data-toggle="modal"
              data-target="#myModal">View Results</button>
          </h2>
          <br>
            <div id="example-items">
              <img src="../static/example-cropped1.jpg" class="result-image img-responsive" id="example-image">
              <img src="../static/example-cropped2.jpg" class="result-image img-responsive" id="example-image">
              <img src="../static/example-cropped3.jpg" class="result-image img-responsive" id="example-image">
              <img src="../static/example-cropped4.jpg" class="result-image img-responsive" id="example-image">
            </div>  
          <select class="image-picker no-display" id="select-menu">
            <!-- Placeholder for detected items -->
          </select>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  </section>
  <hr>
  <section id="info2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="info-left">
            <h2>Info Block One</h2>
            <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="info-right">
            <h2>Info Block Two</h2>
            <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="contact-form">
            <form id="feedback-form">
              <div class="form-group">
                <label>Name: </label>
                <input id="form-name" class="form-control" type="text" name="" value="" placeholder="Enter Name">
              </div>
              <div class="form-group">
                <label>Email: </label>
                <input id="form-email" class="form-control" type="text" name="" value="" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label>Message: </label>
                <textarea id="form-comments" class="form-control" name="" value="" placeholder="Enter Message"></textarea>
              </div>
              <button class="btn btn-default" type="button" onclick="submitForm()">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-md-7 col-sm-7">
        </div>
      </div>
    </div>
  </section>

  <footer>
    <p class="text-center">Stylify Copyright &copy; 2019</p>
  </footer>

  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" 
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../static/image-picker.min.js"></script>
  <script src='../static/client.js'></script>
  <script src='../static/scroll-reveal-conf.js'></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  
  <script>
    //     $(document).ready(function () {
    //       $(".image-picker").imagepicker({
    //         selected:function(){
    //         console.log(this.val())}
    //     });
    // });
    // $(".image-picker").imagepicker({
    //     selected:function(){
    //     console.log(this.val())}
    // });
    autosize(document.getElementById("form-comments"));
  </script>

</body>
</html>
