body{
  margin-top:100px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

.no-display{
  display: none;
}

#example-image{
  display: inline-block;
  margin: 20px;
}

#image-picked{
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
  margin-top: 20px;
}

#pick-photo-button{
  margin-top: -30px;
  margin-bottom: 10px;
}

#select-item-button{
  margin-top: 10px;
}

#results-button{
  margin-top: 10px;
  margin-left: 10px;  
}

.result-image{
  max-width: 150px;
  max-height: 350px;
  border-radius: 20px;
}

.navbar-default{
  background:#f1f1f1;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:20px;
  color:#000 !important;
  font-weight:bold;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
  margin-top: 150px;
}

#showcase .showcase-right{
  text-align: center;
  margin-top:50px;
  margin-left: 30px;
}

#testimonial{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#000;
}

#front-photo{
  height: 500px;
}

#testimonial p.customer{
  font-size:20px;
  color:#666;
}

#info1 .info-right{
  margin-top:30px;
}

#info2{
  margin:20px 0 60px 0;
}

#form-comments{
  resize: vertical;
  height: auto;
}

#contact{
  background:url(https://st2.depositphotos.com/3283585/10347/v/950/depositphotos_103471748-stock-illustration-vector-seamless-pattern-with-hand.jpg);
  padding:40px;
  /* color:#fff; */
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

#contact #contact-form{
  border-radius: 25px;
  border: grey 8px double;
  padding: 20px;
  background: #afafaf
}

#contact #contact-form label{
  color: black
}

footer{
  padding:30px;
}
